# ==========================================
# WEC Optimization Configuration File
# ==========================================

[Simulation]
1     OptMode       - [Switch] Optimization mode {1: Geometry, 2: Layout, 3: Both}
1     Algorithm     - [Switch] Optimization algorithm {1: Differential Evolution, 2: Particle Swarm Optimization, 3: Genetic Algorithm, 4: CMA-ES}
2     WaveSpec      - [Switch] Wave spectrum type {1: JONSWAP (ITTC), 2: JONSWAP (Goda)}
[WEC Parameters]
1     NumWECs       - [Switch] Number of WECs in the optimization {1: Single WEC, 3: Three WECs, 5: Five WECs}
4     MinSpacing    - [Float] Minimum distance between WECs (only used if OptMode is 2 or 3)
2.5   FixedRadius   - [Float] Fixed radius for WECs (only used if OptMode is 2)
5.0   FixedDraft    - [Float] Fixed draft for WECs (only used if OptMode is 2)

[AlgorithmSettings]
30   PopSize       - [Integer] Population size for the optimization algorithm
300   MaxIter       - [Integer] Maximum number of iterations for the optimization algorithm
0.5   F             - [Float] Mutation factor for Differential Evolution (only used if Algorithm is 1)
0.9   CR            - [Float] Crossover rate for Differential Evolution (only used if Algorithm is 1)
0.5   w             - [Float] Inertia weight for Particle Swarm Optimization (only used if Algorithm is 2)
1.5   c1            - [Float] Cognitive coefficient for Particle Swarm Optimization (only used if Algorithm is 2)
1.5   c2            - [Float] Social coefficient for Particle Swarm Optimization (only used if Algorithm is 2)
0.1   MutationRate  - [Float] Mutation probability for Genetic Algorithm (only used if Algorithm is 3)
0.3   SigmaInit     - [Float] Initial search step ratio for CMA-ES (only used if Algorithm is 4)

[Constraints]
0.1   StepSize      - [Float] Step size for boundary
0.5   RadiusMin     - [Float] Minimum radius for WEC (only used if OptMode is 1 or 3)
2.5   RadiusMax     - [Float] Maximum radius for WEC (only used if OptMode is 1 or 3)
0.5   DraftMin      - [Float] Minimum draft for WEC (only used if OptMode is 1 or 3)
5.0   DraftMax      - [Float] Maximum draft for WEC (only used if OptMode is 1 or 3)
3.0   WEC1_XMin     - [Float] Minimum X position for WEC 1 (only used if OptMode is 2 or 3)
25.0  WEC1_XMax     - [Float] Maximum X position for WEC 1 (only used if OptMode is 2 or 3)
3.0   WEC2_XMin     - [Float] Minimum X position for WEC 2 (only used if OptMode is 2 or 3 and NumWECs is 3 or 5)
25.0  WEC2_XMax     - [Float] Maximum X position for WEC 2 (only used if OptMode is 2 or 3 and NumWECs is 3 or 5)
0     WEC2_YMin     - [Float] Minimum Y position for WEC 2 (only used if OptMode is 2 or 3 and NumWECs is 3 or 5)
30.0  WEC2_YMax     - [Float] Maximum Y position for WEC 2 (only used if OptMode is 2 or 3 and NumWECs is 3 or 5)
3.0   WEC3_XMin     - [Float] Minimum X position for WEC 3 (only used if OptMode is 2 or 3 and NumWECs is` 3 or 5)
25.0  WEC3_XMax     - [Float] Maximum X position for WEC 3 (only used if OptMode is 2 or 3 and NumWECs is 3 or 5)
0     WEC3_YMin     - [Float] Minimum Y position for WEC 3 (only used if OptMode is 2 or 3 and NumWECs is 5)
30.0  WEC3_YMax     - [Float] Maximum Y position for WEC 3 (only used if OptMode is 2 or 3 and NumWECs is 5)

[Environment]
3     SiteID        - [Integer] ID of the site for the optimization (must match an entry in env_data.csv)

[WAMIT Settings]
16    RAMGBMAX      - [Integer] Maximum RAM in GB for WAMIT simulations
8     NCPU          - [Integer] Number of CPU cores to use for WAMIT simulations
